@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section class="categories">
        <div class="women category">
            <h1>Women</h1>
            <p>Clothing</p>
            <p>Shoes</p>
            <p>Accessories</p>
            <button>SHOP ALL</button>
        </div>
        <div class="men category">
            <h1>Men</h1>
            <p>Clothing</p>
            <p>Shoes</p>
            <p>Accessories</p>
            <button>SHOP ALL</button>
        </div>
        <div class="new category">
            <h1>New</h1>
            <p>Clothing</p>
            <p>Shoes</p>
            <p>Accessories</p>
            <button>SHOP ALL</button>
        </div>
    </section>

    <section class="new-in-women">
        <p class="new-in-women-title">New in women</p>
    </section>

    <section class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="new-in-women-items">
                    <div class="new-in-women-row">
                        <div class="new-in-women-item">
                            <img src="assets/images/women-item1.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                        <div class="new-in-women-item">
                            <img src="assets/images/women-item2.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                    </div>
                    <div class="new-in-women-row">
                        <div class="new-in-women-item">
                            <img src="assets/images/women-item3.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                        <div class="new-in-women-item">
                            <img src="assets/images/women-item4.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="new-in-women-items">
                    <div class="new-in-women-row">
                        <div class="new-in-women-item">
                            <img src="assets/images/women-item1.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                        <div class="new-in-women-item">
                            <img src="assets/images/women-item2.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                    </div>
                    <div class="new-in-women-row">
                        <div class="new-in-women-item">
                            <img src="assets/images/women-item3.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                        <div class="new-in-women-item">
                            <img src="assets/images/women-item4.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="new-in-women-items">
                    <div class="new-in-women-row">
                        <div class="new-in-women-item">
                            <img src="assets/images/women-item1.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                        <div class="new-in-women-item">
                            <img src="assets/images/women-item2.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                    </div>
                    <div class="new-in-women-row">
                        <div class="new-in-women-item">
                            <img src="assets/images/women-item3.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                        <div class="new-in-women-item">
                            <img src="assets/images/women-item4.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-div"></div>
        <div class="swiper-pagination"></div>
    </section>

    <section class="suggestions">
        <div class="suggestions-row">
            <div class="suggestions-item margin-true">
                <img src="assets/images/as-seen-on.png" alt="">
                <h3>As seen on</h3>
            </div>
            <div class="suggestions-item margin-true">
                <img src="assets/images/bags.png" alt="">
                <h3>Bags</h3>
            </div>
        </div>
        <div class="suggestions-row">
            <div class="suggestions-item margin-true">
                <img src="assets/images/2022-trends.png" alt="">
                <h3>2022 Trends</h3>
            </div>
            <div class="suggestions-item">
                <img src="assets/images/our-picks.png" alt="">
                <h3>Our pick</h3>
            </div>
        </div>
    </section>

    <section class="women-collections">
        <div class="women-collections-item leo-meets-forest">
            <div class="women-collections-item-content">
                <p>.</p>
                <h1>Leo meets Forest</h1>
                <img src="assets/icons/straight-right-arrow (1).png" alt="">
            </div>
        </div>
        <div class="women-collections-item classy-twist">
            <div class="women-collections-item-content">
                <p>.</p>
                <h1>Classy Twist</h1>
                <img src="assets/icons/straight-right-arrow (1).png" alt="">
            </div>
        </div>
    </section>

    <section class="women-brands">
        <img src="assets/images/marccain.png" alt="" class="marccain">
        <img src="assets/images/joop.png" alt="" class="joop">
        <img src="assets/images/drykorn.png" alt="" class="drykorn">
    </section>

    <section class="shop-the-look">
        <div class="shop-the-look-image">
            <img src="assets/images/shop-the-look.png" alt="">
        </div>

        <div class="shop-the-look-content">
            <div class="shop-the-look-items-container">
                <h1>Shop the look</h1>
                <div class="shop-the-look-items">
                    <div class="shop-the-look-row">
                        <div class="shop-the-look-item">
                            <img src="assets/images/shop-the-look-shoes.png" alt="">
                            <h3>MARC KAIN <br />"RETHINK TOGETHER</h3>
                            <p>510 USD</p>
                        </div>
                        <div class="shop-the-look-item">
                            <img src="assets/images/shop-the-look-bag.png" alt="">
                            <h3>MARC KAIN<br /> "RETHINK TOGETHER</h3>
                            <p>510 USD</p>
                        </div>
                    </div>
                    <div class="shop-the-look-row">
                        <div class="shop-the-look-item">
                            <img src="assets/images/shop-the-look-top.png" alt="">
                            <h3>MARC KAIN<br /> "RETHINK TOGETHER</h3>
                            <p>510 USD</p>
                        </div>
                        <div class="shop-the-look-item">
                            <img src="assets/images/shop-the-look-blazer.png" alt="">
                            <h3>MARC KAIN<br /> "RETHINK TOGETHER</h3>
                            <p>510 USD</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="new-products-123">
        <div>
            <h1>123 new products</h1>
            <p>in the last 3 days</p>
        </div>
        <button>DISCOVER NOW</button>
    </section>

    <section class="men-styles">
        <div class="men-styles-item modern-classic">
            <img src="assets/images/modern-classic.png" alt="">
            <p>MODERN CLASSICS</p>
        </div>
        <div class="men-styles-item outdoor-boot">
            <img src="assets/images/outdoor-boots.png" alt="">
            <p>OUTDOOR BOOTS</p>
        </div>
    </section>

    <section class="new-in-men">
        <p class="new-in-men-title">New in men</p>
    </section>

    <section class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="new-in-women-items">
                    <div class="new-in-women-row">
                        <div class="new-in-women-item">
                            <img src="assets/images/men-item1.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                        <div class="new-in-women-item">
                            <img src="assets/images/men-item2.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                    </div>
                    <div class="new-in-women-row">
                        <div class="new-in-women-item">
                            <img src="assets/images/men-item3.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                        <div class="new-in-women-item">
                            <img src="assets/images/men-item4.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="new-in-women-items">
                    <div class="new-in-women-row">
                        <div class="new-in-women-item">
                            <img src="assets/images/men-item1.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                        <div class="new-in-women-item">
                            <img src="assets/images/men-item2.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                    </div>
                    <div class="new-in-women-row">
                        <div class="new-in-women-item">
                            <img src="assets/images/men-item3.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                        <div class="new-in-women-item">
                            <img src="assets/images/men-item4.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="new-in-women-items">
                    <div class="new-in-women-row">
                        <div class="new-in-women-item">
                            <img src="assets/images/men-item1.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                        <div class="new-in-women-item">
                            <img src="assets/images/men-item2.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                    </div>
                    <div class="new-in-women-row">
                        <div class="new-in-women-item">
                            <img src="assets/images/men-item3.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                        <div class="new-in-women-item">
                            <img src="assets/images/men-item4.png" alt="">
                            <h3 class="marc-kain">MARC KAIN</h3>
                            <h3>"RETHINK TOGETHER" SHOULDER BAG</h3>
                            <p>510 USD</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-div"></div>
        <div class="swiper-pagination"></div>
    </section>

    <section class="joop-collection">
        <img src="assets/images/joop-white.png" alt="">
        <h2>Fall collection</h2>
    </section>

    <section class="drykorn-collection">
        <div class="drykorn-collection-intro">
            <img src="assets/images/drykorn.png" alt="">
            <button>SHOP DRYKORN MEN</button>
        </div>

        <div class="drykorn-collection-items">
            <div class="drykorn-collection-row">
                <div class="drykorn-collection-item">
                    <img src="assets/images/drykorn-item1.png" alt="">
                    <h3 class="marc-kain">MARC KAIN <br /> "RETHINK TOGETHER"</h3>
                    <p>510 USD</p>
                </div>
                <div class="drykorn-collection-item">
                    <img src="assets/images/drykorn-item2.png" alt="">
                    <h3 class="marc-kain">MARC KAIN <br /> "RETHINK TOGETHER"</h3>
                    <p>510 USD</p>
                </div>
            </div>
            <div class="drykorn-collection-row">
                <div class="drykorn-collection-item">
                    <img src="assets/images/drykorn-item3.png" alt="">
                    <h3 class="marc-kain">MARC KAIN <br /> "RETHINK TOGETHER"</h3>
                    <p>510 USD</p>
                </div>
                <div class="drykorn-collection-item">
                    <img src="assets/images/drykorn-item4.png" alt="">
                    <h3 class="marc-kain">MARC KAIN <br /> "RETHINK TOGETHER"</h3>
                    <p>510 USD</p>
                </div>
            </div>
        </div>
    </section>

    <section class="marccain-collection">
        <div class="marccain-right">
            <img src="assets/images/marccain-collection-image.png" alt="">
        </div>
        <div class="marccain-left">
            <h1>50% off</h1>
            <p>Each November 30</p>
            <button>SHOP NOW</button>
        </div>
    </section>

    <section class="new-to-act">
        <h1>New to ACT?</h1>
        <p>Create an account & get 10% off on your first order</p>
        <button>REGISTER</button>
    </section>

    <section class="visit-women">
        <h3>BROWSE AGAIN</h3>
        <h1>Visit your recent Women's vategories</h1>

        <div class="visit-women-categories">
            <div class="visit-women-row">
                <p>JACKETS</p>
                <p>SHOES</p>
            </div>
            <div class="visit-women-row">
                <p>ACCESSORIES</p>
                <p>BAGS</p>
            </div>
        </div>
    </section>

    <section class="shop-advantages">
        <div class="shop-advantages-item">
            <img src="assets/icons/pickup.png" alt="">
            <p>FAST DELIVERY</p>
        </div>
        <div class="shop-advantages-item">
            <img src="assets/icons/verrified.png" alt="">
            <p>STYLE GUARANTEED</p>
        </div>
        <div class="shop-advantages-item">
            <img src="assets/icons/location.png" alt="">
            <p>LOCATE US TODAY</p>
        </div>
    </section>

    <div class="at-apparel">
        
    </div>

    <section class="footer-images">
        <img src="assets/images/footer-image1.png" alt="">
        <img src="assets/images/footer-image2.png" alt="">
        <img src="assets/images/footer-image3.png" alt="">
        <img src="assets/images/footer-image4.png" alt="" class="footer-image-remove">
    </section>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="js/index.js"></script>

    <script type="module">
        import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.mjs'

        const swiper = new Swiper('.swiper', {
            direction: 'horizontal',

            pagination: {
                el: '.swiper-pagination',

            },
        });
    </script>
</div>
