@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="listing-container" id="listing-container">
    <section class="listing-left">
        <div class="back-to-pages">
            <div class="back-to">
                <img src="assets/icons/back-arrow.png" alt="">
                <p>Back to Women</p>
            </div>
            <div class="back-to">
                <img src="assets/icons/back-arrow.png" alt="">
                <p>Back to clothing</p>
            </div>
            <div class="back-to">
                <img src="assets/icons/back-arrow.png" alt="">
                <p>Back to jackets</p>
            </div>
        </div>

        <div class="filter" id="filter">
            <div class="filter-small-header">
                <h2>FILTER</h2>
                <img src="assets/icons/close.png" alt="" id="close_filters">
            </div>
            <div class="sort-by">
                <div class="filter-header" id="sort-by-header">
                    <h2>Sort by</h2>
                    <img src="assets/icons/down-arrow.svg" alt="" id="open-sort-by"
                         style="transform: rotate(0deg); transition: transform 0.5s ease;">
                </div>

                <div class="sort-by-content" id="sort-by-content">
                    <p v-for="cat in categories" v-on:click="changeCategory(cat.id)" :class="{ 'selected': selectedCategory === cat.id }">{{cat.title}}</p>
                </div>
            </div>

            <div class="brand-filter">
                <div class="filter-header" id="brand-header">
                    <h2>Brand</h2>
                    <img src="assets/icons/down-arrow.svg" alt="" id="open-brand-filter"
                         style="transform: rotate(0deg); transition: transform 0.5s ease;">
                </div>
                <div class="brand-filter-content" id="brand-filter-content">
                    <div class="brand-checkbox" v-for="brand in brands">
                        <input type="checkbox" v-on:change="changeBrand(brand.id)">
                        <p>{{brand.title}}</p>
                    </div>
                </div>
            </div>

            <div class="color-filter">
                <div class="filter-header" id="color-header">
                    <h2>Color</h2>
                    <img src="assets/icons/down-arrow.svg" alt="" id="open-color-filter"
                         style="transform: rotate(0deg); transition: transform 0.5s ease;">
                </div>
                <div class="color-filter-content" id="color-filter-content">
                    <div class="color" v-for="color in colors" v-on:click="changeColor(color.id)" :class="{ 'selected-color': selectedColor === color.id}" :style="{backgroundColor: color.hex}"></div>
                </div>
            </div>

            <div class="size-filter">
                <div class="filter-header" id="size-header">
                    <h2>Size</h2>
                    <img src="assets/icons/down-arrow.svg" alt="" id="open-size-filter"
                         style="transform: rotate(0deg); transition: transform 0.5s ease;">
                </div>

                <div class="size-filter-content" id="size-filter-content">
                    <p v-for="size in sizes" v-on:click="changeSize(size.id)" :class="{ 'selected-size': selectedSize === size.id }">{{size.title}}</p>
                </div>
            </div>

            <div class="price-filter">
                <div class="filter-header" id="price-header">
                    <h2>Price</h2>
                    <img src="assets/icons/down-arrow.svg" alt="" id="open-price-filter"
                         style="transform: rotate(0deg); transition: transform 0.5s ease;">
                </div>

                <div class="price-filter-content" id="price-filter-content">
                    <div class="price-slider">
                        <div id="slider-range">
                            <div class="slider-values" id="min-value"></div>
                            <div class="slider-values" id="max-value"></div>
                        </div>
                        <div class="slider-values" id="min-value" style="z-index: 20;"></div>
                        <div class="slider-values" id="max-value"></div>
                    </div>
                </div>
            </div>

            <div class="material-filter">
                <div class="filter-header" id="material-header">
                    <h2>Material</h2>
                    <img src="assets/icons/down-arrow.svg" alt="" id="open-material-filter"
                         style="transform: rotate(0deg); transition: transform 0.5s ease;">
                </div>

                <div class="material-filter-content" id="material-filter-content">
                    <div v-for="mat in materials" class="material-filter-checkbox">
                        <input type="checkbox" v-on:change="changeMaterial(mat.id)">
                        <p>{{mat.title}}</p>
                    </div>
                </div>
            </div>

            <div class="apply-filter">
                <p>APPLY FILTERS</p>
            </div>
        </div>
    </section>

    <section class="listing-right">
        <div class="listing-header">
            <h1>Women's Jackets</h1>
        </div>

        <div class="listing-logo">
            <img src="assets/images/marccain.png" alt="" class="marccain">
            <img src="assets/images/joop.png" alt="" class="joop">
            <img src="assets/images/drykorn.png" alt="" class="drykorn">
        </div>

        <div class="listing-items" id="listing-items">

            <div class="listing-item" v-for="item in items" :key="item.productID">
                <div class="listing-item-image">
                    <img :src="item.imageLink" alt="">
                    <div class="top-p" v-if="item.new">
                        <p>NEW</p>
                    </div>
                    <div class="listing-item-hover" id="listing-item-hover">
                        <div class="listing-item-hover-wrapper">
                            <div class="add-to-favorite">
                                <img src="assets/icons/listing-item-hover--heart.svg" alt="" class="heart">
                                <img src="assets/icons/like.svg" alt="" class="like">
                            </div>
                            <h2>{{item.brandTitle}} <br /> {{item.productName}}</h2>
                            <h3>{{item.price}} USD</h3>

                            <div class="color-size-wrapper">
                                <div class="item-hover-color">
                                    <h4>COLOR</h4>
                                    <div class="item-hover-color-container">
                                        <div class="color"
                                             v-for="color in item.itemColor"
                                             v-on:click="selectColor(item, color.id)"
                                             :class=" {'color-selected': item.shoppingCartData.color === color.id }"
                                             :style="{backgroundColor: color.colorHex}"
                                        >
                                        </div>
                                    </div>
                                </div>
                                <div class="item-hover-size">
                                    <h4>SIZE</h4>
                                    <div class="item-hover-size-container">
                                        <p v-for="size in item.itemSize" v-on:click="selectSize(item, size.id)" :class="{ 'size-selected' : item.shoppingCartData.size == size.id}">{{size.sizeNumber}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item-hover-bottom">
                                <div class="horizontal-number-input">
                                    <span class="minus" id="remove-item" v-on:click="decrementItemQuantity(item)">-</span>
                                    <span class="item-number" id="item-quantity">{{item.shoppingCartData.quantity}}</span>
                                    <span class="plus" id="add-item" v-on:click="incrementItemQuantity(item)">+</span>
                                    <div class="shopping-bag">
                                        <img src="assets/icons/noun-bag-white.svg" alt="">
                                    </div>
                                </div>

                                <div class="add-item" v-on:click="addToCart(item)" style="cursor: pointer;">
                                    <img src="assets/icons/plus white.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h1>{{item.brandTitle}}</h1>
                <h1>{{item.productName}}</h1>
                <p>{{item.price}} USD</p>
            </div>

        </div>
    </section>
    <script src="js/filterVue.js"></script>
</div>
<div class="open-filter" id="listing_filter_open">
    <img src="assets/icons/filter.png" alt="">
</div>


<script src="~/js/listing.js"></script>
